{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/connexion.css') }}">
{% endblock %}

{% block body %}
    <div class="container_global">
        <div class="container_connexion">

            <img src="{{ asset('image/de_bleu.png') }}" alt="dé bleu" class="bleu" />
            <img src="{{ asset('image/de_rouge.png') }}" alt="dé rouge" class="rouge" />
            <img src="{{ asset('image/de_violet.png') }}" alt="dé violet" class="violet"/>
                

            <div class="connexion1">
                <h1>Connexion</h1>
                
                
                <form method="post">       
                    <div class="connexion_menu">

                        <label for="inputEmail">Adresse email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button type="submit" >Connexion </button>

                        <p>Pas encore inscris ?</p>
                        <p> Cliquez <a href="{{ path('app_register') }}">ICI <a/> Pour vous inscrire </p>

                    </div>     
                </form>
            </div>
        </div>     
    </div>
{% endblock %}