<header>
        <!--Le Header Gauche-->
    <div class="headerG">
        <img src="{{ asset('logo/logo_small_noir.png') }}" alt="logo">
    </div>

    
        <!--Le Header Droit-->
    <div class="headerD">
        <div class="nav-barre">
            <a href="{{ path('home') }}">Accueil</a>
            <a href="{{ path('charactersList') }}"> Test liste perso</a>
            <a href="#">A propos</a>
            <a href="#">Forum</a>
            <a href="#">Contact</a>
        </div>

        <div class="connexion">
            {% if app.user %}
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="co">Connexion</a>
                <a href="{{ path('app_register') }}">Inscription</a>
            {% endif %}
        </div>
    </div>
    <a class="nav-link" href="{{ path('createCharacters') }}">Création perso test</a>
    <a class="nav-link" href="{{ path('app_register') }}">Création user test</a>
</header>