<header>
        <!--Le Header Gauche-->
    <div class="headerG">
        <img src="{{ asset('logo/logo_small_noir.png') }}" alt="logo">
    </div>

    
        <!--Le Header Droit-->
    <div class="headerD">
        <div class="nav-barre">
            <a href="{{ path('home') }}">Accueil</a>
            <a href="{{ path('charactersList') }}"> Liste personnages</a>
            <a href="{{ path('about')}}">A propos</a>
            <a href="{{ path('forum')}}">Forum</a>
            <a href="{{ path('contact')}}">Contact</a>
        </div>

        <div class="connexion">
            {% if app.user %}
                <a href="{{ path('app_logout') }}">Déconnexion</a>
                <a class="nav-link" href="{{ path('createCharacters') }}">Création personnage</a>
                <a class="nav-link" href="{{ path('user_characters') }}">Mes personnages</a>
                <a class="nav-link" href="{{ path('user_combat_list') }}">Mes combats</a>
                
                {% if app.user.role[0] == "ROLE_ADMIN" %}
                    <p></p>
                {% endif %}
                
            {% else %}
                <a href="{{ path('app_login') }}" class="co">Connexion</a>
                <a href="{{ path('app_register') }}">Inscription</a>
            {% endif %}
        </div>
    </div>
</header>