{% extends "base.html.twig" %}

{% block title %}
	Bienvenue sur WebForceGame
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/testListCharacters.css') }}">
{% endblock %}

{% block body %}
	
	<main>

		<h1>Liste des personnages</h1>
		<div class="container-main2">

			{% for character in characters %}
				<div class="container-card">
					<div class="card">
						
						<div class="card__face card__face--front">
								<img class="characters_picture" src="{{ character.imageSrc }}"  alt="dé {{ character.profession.professionName }}" /></br>
								<h3 class="card__face">{{ character.name }}</h3>
							
						</div>

						<div class="card__face card__face--back pile">

							<h3>{{ character.name }}</h3></br>

							<div class="character_profession">
								<div class="character_hp_profession_name">
									<p>{{ character.profession.professionName }}</p>
									<p>Point de vie : {{ character.hp }}</p>
								</div>
								<div>
									<img class="profession_picture" src="{{ character.profession.imageSrc }}"  alt="dé {{ character.profession.professionName }}" /></br>
								</div>
							</div>
							
							
							<div class="character_bloc_stats">
								<div class="character_stats">
									<p>Force : {{ character.str }}</p>
									<p>Constitution : {{ character.con }}</p>
									<p>Dextérité : {{ character.dex }}</p>
									<p>Intelligence : {{ character.intel }}</p>
								</div>
								</br>
								<div class="character_dmg">
									<p>Attaque au contact : {{ character.attContact }}</p>
									<p>Attaque à distance : {{ character.attDistance }}</p>
									<p>Attaque magique : {{ character.attMagie }}</p>
								</div>
							</div>


						</div>
					</div>
						{# bouton défier #}
						{% if app.user %}
						<form method="POST" action="{{path('user_combat_create')}}">
							<select name="character_id" id="character-select">
								<option value="">Choisir son perso</option>
								{% for myCharacter in app.user.characters %}
								{# if in fight disable option #}
									<option value="{{myCharacter.id}}"><a>{{ myCharacter.name }}</a></option>
								{% endfor %}
							</select>
							<input name="combat_opponent" type="hidden" value="{{ character.id }}" />
							<button type="submit" > Défier </button>
						</form>

						{% endif %}
				</div>
			{% endfor %}
			
	</main>		
{% endblock %}