{% extends "base.html.twig" %}

{% block title %}
	Bienvenue sur WebForceGame
{% endblock %}

{% block body %}
	
	<main>

		{# <img src="{{profession.imageSrc}}" alt=""/> #}

		<h1 class="bienvenue">Bienvenue sur WebForce Game</h1>
		<div class="container-main">
			
			{% for profession in professions %}
				<div class="container-card">
					<div class="card">
						
						<div class="card__face card__face--front">
							<div>
								<img src="{{ profession.imageSrc }}"  alt="dé {{ profession.professionName }}" />
								<h3 class="card__face">{{ profession.professionName }}</h3>
							</div>
						</div>
						<div class="card__face card__face--back pile"><h3>{{ profession.professionName }}</h3></br>
						<p>{{ profession.description }}</p></div>
					</div>
				</div>
			{% endfor %}

		</div>
	</main>		
{% endblock %}