{% extends 'base.html.twig' %}

{% block title %}Création de personnage{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/characters.css') }}">
{% endblock %}

{% block body %}
<div class="container-grimoire">
    <div class="grimoire">
        {# <img src="{{ asset('image/grimoire.png') }}" alt="grimoire" /> #}
    
        <div class="form_container">        

            <div class="form">

            {{form_errors(form)}}
            
            {{form_start(form)}}

                <div class="main_character">
                    <div class="character_name">
                        {{form_row(form.name)}}
                    </div>
                    <div class="character_img">
                        {{form_row(form.image)}}
                    </div>
                </div>

                <div class="character_capacity">

                    <span class="capacity capacity_str">{{form_row(form.str)}}</span>

                    <span class="capacity capacity_con">{{form_row(form.con)}}</span>

                    <span class="capacity capacity_dex">{{form_row(form.dex)}}</span>

                    <span class="capacity capacity_intel">{{form_row(form.intel)}}</span>

                </div>

                <div class="character_profession">
                    {{form_row(form.profession)}}
                </div>

                <button type="submit" class="button_form_createCharacters"> Créer </button>

            {{form_end(form)}}
            </div>

            <div class="fiche">

                <div><img id="display-character-image" src="" alt=""></div>
                <div class="name"><span id="display-character-name"></span></div>
                <div class="str">FOR :<span id="display-character-str"></span></div>
                <div class="con">VIT :<span id="display-character-con"></span></div>
                <div class="dex">DEX :<span id="display-character-dex"></span></div>
                <div class="intel">INT :<span id="display-character-intel"></span></div>
                <div class="profession"><span id="display-character-profession"></span></div>
                


            </div>
        
        

        </div>
        
    </div>
</div>
{% endblock %}
